<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="op.css">
</head>
<body>
    <div id="output"></div>
    
    <div class="ops">
        <input type="text" id="txt">
        <button class="btn" onclick="createBtn()">button</button>
        <button class="txt">Text</button>
    </div>
    <style>
        html body{
            background-color: rgb(148, 148, 148);
        }
    </style>
    <script>
        let txt = document.getElementById('txt');
        let Class = "class";
        let element
        const createBtn = () =>{
            element = "button"
            const createdElement = 
            `
            <${element} 
            class = ${Class} 
            id = ${Class}
            >
            ${txt.value}
            </${element}>
            `
            document.getElementById('output').innerHTML = createdElement
        }
    </script>
</body>
</html>