.create-btn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: #7affff;
    font-size: 40px;
    display: flex;
    padding: 8px 0 0 16px;
    transition: 0.7s;
}
.btn{
    right: -100%;
}
.createTxt{
    font-size: 18px;
    margin: 13px;
    display: none;
}
.create-btn:hover .createTxt{
    display: block;
    overflow: hidden;
}
.create-btn:hover{
    background-color: #24cece;
    position: absolute;
    width: 150px;
    transition: 0.4s;
}