.casing{
    position: fixed;
    top: 5px;
    right: -100%;
    height: 98vh;
    background-color: #7acaff;
    overflow: hidden;
    border-radius: 20px;
    transition: all 1s;
    width: 40vw;
    padding: 0;
}
.active{
    right: 0.5%;
}