.btns{
    margin: 2px;
    padding: 10px;
    height: 7vh;
    width: 10vw;
    border-radius: 40px;
    font-size: 15px;
    font-weight: bolder;
    border-style: none;
    border: #000;
}
.login{
    background-color: #00fff2bb;
}

.logo{
    width: 3vw;
    height: 8vh;
}